<%= simple_form_for @unicorn do |f| %>
  <%= f.input :name, input_html: { class: "mb-2 mr-sm-2" } %>
  <div class="radio">
    <%= f.input :magic_power, collection:Unicorn::MAGIC_POWERS, input_html: { class: "inline" },as: :radio_buttons%>
  </div>
  <%= f.input :description, input_html: { class: "mb-2 mr-sm-2" } %>
  <%= f.input :price, input_html: { class: "mb-2 mr-sm-2" } %>
  <%= f.input :location, input_html: { class: "mb-2 mr-sm-2" } %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>

  <%= f.button :submit, 'Publie ton annonce', class: "btn-primary mb-3",id:"button-submit-new" %>
<% end %>
