<div class="booking-card-container">
  <div class="booking-card">
    <div class="booking-card-price-per-half-day">
      <p><strong class="price-per-half-day"><%= @unicorn.price %>€</strong>/demi-journée</p>
    </div>

    <div class="booking-card-calendar">
      <div class="form-wrapper">

        <%= simple_form_for :booking, method: "get" do |f| %>
          <%= f.input :start_date, required: false, input_html: {id: "start_date"}, label:false %>
          <%= hidden_field_tag "booking-start" %>
          <%= f.input :end_date, required: false, input_html: {id: "end_date"}, label:false %>
          <%= hidden_field_tag "booking-end" %>
          <%= f.button :submit, "Book now", class: "btn btn-flat" %>
        <% end %>
  </div>
    </div>
    <div class="booking-card-price-details">

      <div class="booking-card-price-details-list">
        <div class="booking-card-price">
          <p><%= @unicorn.price %>€ x <p id="booking-duration"></p>j</p>
          <p><%= @unicorn.price %>€</p>
        </div>
        <div class="booking-card-price">
          <p>Frais de service</p>
          <p><%=  %>€</p>
        </div>
      </div>
      <div class="booking-card-price-total">
        <div class="booking-card-price">
          <p><strong>TOTAL</strong></p>
          <p><%=  %>€</p>
        </div>
      </div>

    </div>
  </div>
</div>
