
<div class="container">

  <div class="booking-show-card">

    <h1 style="color: black; margin-top: 0px">My booking</h1>

    <div class="presentation">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% active = true %>
            <% @unicorn.photos.each do |photo| %>
              <div class="carousel-item <%= 'active' if active %>">
                <%= cl_image_tag photo.key, crop: :fill, class: "d-block w-100", alt: "..." %>
              </div>
              <% active = false %>
            <% end %>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <div class="title">
          <h1 style="margin-top: 0px"><%= @unicorn.name %> -</h1>
          <div class="rating">
            <% sum = 0 %>
            <% count = 0 %>
            <% if @unicorn.bookings.count == 0 %>
              <% 5.times do %>
                <i class="far fa-star"></i>
              <% end %>
            <% else %>
              <% @unicorn.bookings.each do |booking| %>
                <% if booking.rating != nil %>
                  <% sum += booking.rating %>
                  <% count += 1 %>
                <% end %>
              <% end %>
              <% average = sum / count %>
              <% average.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - average).times do %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
          </div>
        </div>


        <h2>by <%= @unicorn.user.pseudo %></h2>

    </div>
  </div>
</div>

<%= @booking.start_date %>
<%= @booking.end_date %>
<%= @unicorn.name %>
<%= @unicorn.magic_power %>
<%= @unicorn.description %>
<%= @booking_duration %>
<%= @booking_price %>

